.controls {
  overflow: visible;
  opacity: 0;
  /* height: 100%; */
  width: 100%;
  position: absolute;
  /* overflow: hidden; */
  background-color: #333;
  color: lightgray;
  border-radius: 1em;
  padding: 1em;
  min-height: 1em;
  display: flex;
  z-index: 10;
  list-style: none;
}

.controls:hover {
  opacity: 1;
}
